In [53]:
import numpy as np
import pandas as pd

In [54]:
rsts = pd.read_excel('chinese_restaurants_yelp.xlsx', sheet_name=None, index_col=False)
df = pd.concat(rsts.values())

In [55]:
jap = pd.read_excel('japanese_restaurants_yelp.xlsx', sheet_name=None, index_col=False)
df2 = pd.concat(jap.values())

In [56]:
df.shape

(40293, 7)

In [57]:
df.head(1000)

,selection1_name,selection1_url,selection1_street,selection1_street_url,selection1_city_state,selection1_intersection,Unnamed: 5
0,Sichuanese Cuisine,https://www.yelp.com/adredir?ad_business_id=hj...,1048 S Jackson St,https://www.yelp.com/map/sichuanese-cuisine-se...,"Seattle, WA 98104","Little Saigon, Chinatown International District",NaN
1,Royal Dumplings House,https://www.yelp.com/adredir?ad_business_id=2e...,14725 Aurora Ave N,https://www.yelp.com/map/royal-dumplings-house...,"Shoreline, WA 98133",149th St & 145th St,NaN
2,Xiâ€™an Noodles,https://www.yelp.com/biz/xian-noodles-seattle-...,5259 University Way NE,https://www.yelp.com/map/xian-noodles-seattle-9,"Seattle, WA 98105",University District,NaN
3,Harbor City Restaurant,https://www.yelp.com/biz/harbor-city-restauran...,707 S King St,https://www.yelp.com/map/harbor-city-restauran...,"Seattle, WA 98104","Chinatown, Chinatown International District",NaN
4,Sichuanese Cuisine,https://www.yelp.com/biz/sichuanese-cuisine-se...,1048 S Jackson St,https://www.yelp.com/map/sichuanese-cuisine-se...,"Seattle, WA 98104","Little Saigon, Chinatown International District",NaN
...,...,...,...,...,...,...,...
995,Teriyaki 2U,https://www.yelp.com/biz/teriyaki-2u-auburn?os...,4017 A St SE,https://www.yelp.com/map/teriyaki-2u-auburn,"Auburn, WA 98002",S 41st St & Laurelwood Rd,NaN
996,Midori Teriyaki Wok,https://www.yelp.com/biz/midori-teriyaki-wok-a...,1202 Supermall Way,https://www.yelp.com/map/midori-teriyaki-wok-a...,"Auburn, WA 98001",S 15th St & O St,NaN
997,Wok & Teriyaki House,https://www.yelp.com/biz/wok-and-teriyaki-hous...,420 Ellingson Rd,https://www.yelp.com/map/wok-and-teriyaki-hous...,"Pacific, WA 98047",N Frontage Rd & N Seattle Blvd,NaN
998,Apple Teriyaki,https://www.yelp.com/biz/apple-teriyaki-puyall...,5604 176th St E,https://www.yelp.com/map/apple-teriyaki-puyallup,"Puyallup, WA 98375",NaN,NaN
999,Old Saigon Pho Restaurant,https://www.yelp.com/biz/old-saigon-pho-restau...,971 Industry Dr,https://www.yelp.com/map/old-saigon-pho-restau...,"Tukwila, WA 98188",Minkler Blvd,NaN

In [58]:
df.columns

Index(['selection1_name', 'selection1_url', 'selection1_street',
       'selection1_street_url', 'selection1_city_state',
       'selection1_intersection', 'Unnamed: 5'],
      dtype='object')

In [59]:
df2.shape

(8158, 6)

In [60]:
df.columns

Index(['selection1_name', 'selection1_url', 'selection1_street',
       'selection1_street_url', 'selection1_city_state',
       'selection1_intersection', 'Unnamed: 5'],
      dtype='object')

In [61]:
df.rename(columns={'selection1_name':'name','selection1_street':'street',
                     'selection1_city_state':'city,statezip'}, inplace=True)
df2.rename(columns={'selection1_name':'name','selection1_street':'street',
                     'selection1_city_state':'city,statezip'}, inplace=True)
df.drop(['selection1_url', 'selection1_street_url', 'selection1_intersection', 'Unnamed: 5'], axis=1, inplace=True)
df2.drop(['selection1_url', 'selection1_street_url', 'selection1_intersection'], axis=1, inplace=True)

In [62]:
test = df2
test.drop_duplicates(subset=['name','street','city,statezip'], inplace=True)
test = test[(test.name != 'Panda Express') & (test.name != 'Pei Wei') & (test.name != 'KFC') & (test.name != 'selection1_name')
        & (test.name != 'selection1_street') & (test.name != 'selection1_city_state') & (test.name.str.contains('P.F. Chang') == False)]
test.dropna(inplace = True)
test.shape

C:\Users\Ethan Seto\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

(5559, 3)

In [63]:
test2 = df
test2.drop_duplicates(subset=['name','street','city,statezip'], inplace=True)
test2 = test2[(test2.name != 'Panda Express') & (test2.name != 'Pei Wei') & (test2.name != 'KFC') & (test2.name != 'selection1_name')
        & (test2.name != 'selection1_street') & (test2.name != 'selection1_city_state') & (test2.name.str.contains('P.F. Chang') == False)]
test2.dropna(inplace = True)
test2.shape

C:\Users\Ethan Seto\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

(18572, 3)

In [64]:
total = pd.concat([df, df2])

In [65]:
total.shape

(26138, 3)

In [66]:
total.dropna(inplace = True)

In [67]:
total.head()

                     name                  street        city,statezip
0      Sichuanese Cuisine       1048 S Jackson St    Seattle, WA 98104
1   Royal Dumplings House      14725 Aurora Ave N  Shoreline, WA 98133
2         Xiâ€™an Noodles  5259 University Way NE    Seattle, WA 98105
3  Harbor City Restaurant           707 S King St    Seattle, WA 98104
5                 19 GOLD      3601 Fremont Ave N    Seattle, WA 98103

In [68]:
total.drop_duplicates(subset=['name','street','city,statezip'], inplace=True)

In [69]:
total.shape

(23860, 3)

In [70]:
total.columns

Index(['name', 'street', 'city,statezip'], dtype='object')

In [71]:
total = total[(total.name != 'Panda Express') & (total.name != 'Pei Wei') & (total.name != 'KFC') & (total.name != 'selection1_name')
        & (total.name != 'selection1_street') & (total.name != 'selection1_city_state') & (total.name.str.contains('P.F. Chang') == False)]

In [72]:
total.shape

(22882, 3)

In [73]:
total.to_excel (r'C:\Users\Ethan Seto\Documents\restaurants_ivy\yelp_data\all_restaurants.xlsx', index = False, header=True)

FileCreateError: [Errno 13] Permission denied: 'C:\\Users\\Ethan Seto\\Documents\\restaurants_ivy\\yelp_data\\all_restaurants.xlsx'